.reportar {
  font-size: inherit;
  background: none;
  font-weight: bold;
  color: var(--erro);

  &:hover {
    text-decoration: underline;
  }
}

.popup {
  font-size: 1rem;

  textarea {
    margin-top: 1rem;
  }

  button {
    display: block;
    margin-left: auto;
    margin-top: 0.5rem;
  }
}
